@{
    ViewBag.Title = "Home Page";
}

<div class="text-center">
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />

    <h1 class="display-4">Libreria Green Book</h1>
    <h2>Bienvenido/a</h2>

    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />

</div>